doctype html
html(lang="en" ng-app="app")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title 商城
    body
        div(class="container")
            global-tips
                tips-title 信息提示
                tips-content Hello world
                tips-footer
                    a(href="#") 安装提示